@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* ¯\_(´・ω・｀)_/¯ */

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #999999;
    cursor: grab;
}

#content {
    margin-top: 80px;
    width: 85%;
    margin-left: auto;
    margin-left: auto;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: #bdbdbd;
}

#contact {
    height: 400px;
}

#project {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #dfdfdf 5px groove;
}

#project img{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px ridge #a7a7a7;
}

#project span{
    overflow-wrap: anywhere;
    font-size: medium;
}

#project b {
    font-size: medium;
}

#project a{
    font-size: medium;
}

#construction {
    padding: 50px;
}

a:link, a:visited {
    color: #0066ff;
    text-decoration: dotted underline;
}

a:link:active, a:visited:active { 
    color: #000099;
    text-decoration: none;
}

a:hover {
    cursor: help;
    color: #660099;
}

@media screen and (max-width: 600px) {

    #content {
        margin-top: 50px;
        width: 85%;
        margin-left: 30px;
        height: auto;
        background-color: #bdbdbd;
    }
    
    #content img {
        size: 50px;
    }

    #project {
        width: auto;
        margin-bottom: 10px;
        background-color: #00ffe809;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #project h2 {
        font-size: large;
    }

    #project img{
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 10px ridge #bdbdbd;
    }

}
