@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* ¯\_(´・ω・｀)_/¯ */

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #999999;
    cursor: grab;
}

#navbar {
    position: fixed;
    top: 0;
}

#navbar, #navbar-ul {
    background: linear-gradient(to right, rgba(0,0,102,1) 0%, rgba(51,0,102,1) 55%, rgba(51,0,102,1) 100%);
}

#navbar-ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#navbar-ul li {
    float: left;
    border-right: 1px solid #333333;
}

#navbar-ul a {
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
}

#navbar-ul li a:hover {
    background-color: #666666;
    color: #000000;
    text-decoration: none;
}

#navbar-ul #icon {
    float: right;
    background-color: #666666;
}

#navbar-ul #icon a:hover{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 15%, rgba(0,255,0,1) 30%, rgba(0,174,255,1) 45%, rgba(0,29,255,1) 60%, rgba(179,0,255,1) 75%, rgba(255,0,142,1) 90%, rgba(255,0,0,1) 100%);
}

#navbar-ul #current, #current:hover {
    color: #660099;
}

#navbar-ul span{
    text-decoration: underline;
}

#content {
    margin-top: 50px;
    width: 85%;
    margin-left: 88px;
    height: auto;
    text-align: center;
    background-color: #ffffff;
}

#contact {
    height: 400px;
}

#proj {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #999999;
}

#proj img{
    width: 450px;
    margin-bottom: 10px;
    border: 10px solid #0066ff;
}

#proj span{
    overflow-wrap: anywhere;
}

#construction {
    padding: 50px;
}

#foot {
    width: 85%;
    margin-left: 88px;
    text-align: right;
    background-color: cornflowerblue;
}

a:link, a:visited {
    color: #0066ff;
    text-decoration: dotted underline;
}

a:link:active, a:visited:active { 
    color: #000099;
    text-decoration: none;
}

a:hover {
    cursor: help;
    color: #660099;
}

@media screen and (max-width: 600px) {
    #navbar-ul {
        list-style-type: none;
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    #navbar-ul a {
        display: flex;
        flex-direction: row;
        padding: 9px;
        font-size: small;
    }

    #navbar-ul #icon {
        float: right;
        padding: 15px;
        background-color: #666666;
    }

    #navbar-ul #icon a:hover{
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 15%, rgba(0,255,0,1) 30%, rgba(0,174,255,1) 45%, rgba(0,29,255,1) 60%, rgba(179,0,255,1) 75%, rgba(255,0,142,1) 90%, rgba(255,0,0,1) 100%);
    }

    #content {
        margin-top: 50px;
        width: 85%;
        margin-left: 30px;
        height: auto;
        background-color: #ffffff;
    }
    
    #content img {
        size: 50px;
    }

    #proj {
        width: auto;
        margin-bottom: 10px;
        background-color: #666666;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #proj img{
        width: 250px;
        margin-bottom: 10px;
        border: 10px solid #0066ff;
    }

    #foot {
        width: 85%;
        margin-left: 30px;
        text-align: right;
        background-color: cornflowerblue;
    }
}