@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* ¯\_(´・ω・｀)_/¯ */

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(26, 43, 251, 1) 100%);
    cursor: grab;
}

#installshieldtitle {
    margin-top: 0px;
}

#installshield-bigtext {
    margin-top: 10px;
    margin-left: 50px;
}

#installshield-bigtext h2 {
    font-family: monospace;
    font-style: italic;
    color: #ffffff;
    text-shadow: #000001 6px 3px;
}

#help-button {
    cursor: help;
}

#close-button-2, #min-button, #res-button {
    cursor: not-allowed;
}

#notes {
    width: 100%;
}

#content {
    margin-top: 110px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: #bdbdbd;
}

#contact {
    height: 400px;
}

#window-body {
    background-color: #bdbdbd !important;
}

#project {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #dfdfdf 5px groove;
}

#project img {
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px ridge #a7a7a7;
}

#project span {
    overflow-wrap: anywhere;
    font-size: medium;
}

#project b {
    font-size: medium;
}

#project a {
    font-size: medium;
}

#construction {
    padding: 50px;
}

a:link,
a:visited {
    color: #0066ff;
    text-decoration: dotted underline;
}

a:link:active,
a:visited:active {
    color: #000099;
    text-decoration: none;
}

a:hover {
    cursor: help;
    color: #660099;
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.10626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.10626;
  }
  30% {
  opacity: 0.18128;
  }
  35% {
  opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}


@media screen and (max-width: 600px) {

    #content {
        margin-top: 50px;
        width: 80%;
        margin-left: 50px;
        height: auto;
        background-color: #bdbdbd;
    }

    #content img {
        size: 50px;
    }

    #project {
        width: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #project h2 {
        font-size: large;
    }

    #project img {
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 10px ridge #bdbdbd;
    }

}